# NextAuth
AUTH_SECRET="5f1a637842e124ad293d56c849927c0884a604a37aa96709e3876e65528dfd98"

# AWS Cognito
COGNITO_USER_POOL_ID="us-east-1_ShyRrg8oA"
COGNITO_CLIENT_ID="1anoqdi2e2eo3tmg7hqpfq0guk"
COGNITO_ISSUER="https://cognito-idp.us-east-1.amazonaws.com/us-east-1_ShyRrg8oA"
AWS_REGION="us-east-1"
